.App {
  margin-top: 3rem;
  text-align: center;
}

html {
  font-size: 62.5%;
}

.lists-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.todo {
  display: flex;
  justify-content: space-between;
}

.todo-list {
  width: 45rem;
}
