* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App {
  margin-top: 6rem;
  text-align: center;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 4rem;
  /* width: 40rem; */
  font-size: 2.4rem;
}

.button-container {
  margin-top: 1.2rem;
  display: flex;
  gap: 1.2rem;
}
.button-container button {
  font-size: 2rem;
  padding: 0.5rem 1rem;
}
